<li>
    <div class="w_body-li-title">
        <span class="w_body-li-name">{{comment.name}}</span>
        {{comment.place}}
        <span class="w_body-date">{{comment.date}}</span>
    </div>
    <div class="w_body-li-body">
        {{comment.comment}}
    </div>
</li>
