<div class="w_title">
    <span>
        <img src="./img/icon_small_point.png" alt="" class = "w_title-i">
        <span class="w_title-name">
            <!--## name popup ##-->
        </span>
    </span>
    <a href="" class="w_close"></a>
</div><!--w_title-->
<div class="w_body">
    <div class="w_body-list">
        <ul>
            <!--## list comments ##-->
            <li data-delete = "1">Отзывов пока нет...</li>
        </ul>
    </div>
</div><!--w_body-->
<div class="w_com">
    <div class="w_com-title">
        ваш отзыв
    </div>
    <div class="w_form">
        <input type="text" class="w_form-name" placeholder="Ваше имя">
        <input type="text" class="w_form-place" placeholder="Укажите место">
        <textarea name="" class="w_form-com" placeholder="Поделитесь впечатлениями"></textarea>
        <div class="w_form-footer">
            <button id="w_form-send">Добавить</button>
        </div>
    </div>
</div><!--w_com-->